*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    height: 100vh;
    width: 100vw;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width:100%;
    background-color: rgb(243, 234, 227);
}
@font-face{
    font-family: 'Montserrat';
    src: url(./Montserrat.ttf)
}
@font-face{
    font-family: 'Fraunces';
    src: url(./Fraunces.ttf);
}
.pai{
    height: 600px;
    width: 800px;
    display: flex;
}
.filho1{
    height: 600px;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: url(./image-product-desktop.jpg);
    background-size: cover;
}
.filho2{
    height: 600px;
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: whitesmoke;
    grid-template-columns: 1fr;
}
.neto{
    width: fit-content;
    height: auto;
    margin-left: 45px;
    margin-right: 45px;
}
#titulo{
    margin-top: 45px;
    font-family: 'Montserrat';
}
#subtitulo{
    margin-top: 25px;
    font-size: 45px;
    font-family: 'Fraunces';
}
#descrição{
    margin-top: 30px;
    text-align: left;
    word-spacing: 1.8px;
    line-height: 28px;
    font-family: 'Montserrat';
}
#prices{
    margin-top: 30px;
    height: fit-content;
    width: 50%;
    width: 100%;
    display: flex;
    align-items: center;
}
#preço1{
    font-weight: bold;
    font-size: 45px;
    height: 100%;
    width: fit-content;
    color: rgb(61, 129, 104);
    font-family: 'Fraunces';
}
#preço2{
    height: 100%;
    width: 25%;
    margin-left: 15px;
    text-decoration: line-through;
    font-family: 'Montserrat';
}
#botãocompra{
    width: 77.5%;
    margin-top: 30px;
    margin-right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(61, 129, 104);
    transition: 0.3s;
}
#botãocompra:hover{
    transform: scale(1.03);
    width: 77.5%;
    margin-top: 30px;
    margin-right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(61, 129, 104, 0.9);
}
#textocompra{
    height: fit-content;
    width: fit-content;
    color: whitesmoke;
    font-family: 'Montserrat';
}
#iconecarrinho{
    height: 55px;
    width: 55px;
}
@media (max-width: 768px) and (min-width: 480px){
    .pai{
        width: 700px
    }
    #titulo{
        margin-top: 40px;
    }
    #subtitulo{
        margin-top: 28px;
        font-size: 43.5px;
    }
    #descrição{
        margin-top: 28px;
        word-spacing: 1.7px;
        line-height: 26px;
    }
    #prices{
        margin-top: 28px;
    }
    #preço1{
        font-size: 43.5px;
    }
    #botãocompra{
        width: 77.5%;
        margin-top: 30px;
        margin-right: 45px;
    }
    #botãocompra:hover{
        transform: scale(1.03);
        width: 77.5%;
        margin-top: 30px;
        margin-right: 45px;
        background-color: rgba(61, 129, 104, 0.9);
    }
    #iconecarrinho{
        height: 50px;
        width: 50px;
    }
}
@media (max-width: 480px){
    .pai{
        height: 700px;
        width: 380px;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .filho1{
        height: 90%;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        background-image: url(./image-product-mobile.jpg);
        background-size:cover;
    }
    .filho2{
        height: 110%;
        width: 100%;
        position: relative;
        bottom: 10%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .neto{
        width: fit-content;
        height: auto;
        margin-left: 30px;
    }
    #titulo{
        margin-top: 25px;
    }
    #subtitulo{
        margin-top: 13px;
        font-size: 33px;
    }
    #descrição{
        margin-top: 20px;
    }
    #prices{
        margin-top: 17px;
    }
    #preço1{
        font-size: 33px;
    }
    #botãocompra{
        width: 320px;
        margin-top: 17px;
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(61, 129, 104);
        transition: 0.3s;
    }
    #botãocompra:hover{
        transform: scale(1.03);
        width: 320px;
        margin-top: 17px;
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: rgba(61, 129, 104, 0.9);
    }
    #iconecarrinho{
        height: 45px;
        width: 45px;
    }
}