*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: Hanken Grotesk-Medium;
    src: url(./HankenGrotesk-Medium.ttf);
}
@font-face {
    font-family: HankenGrotesk-Bold;
    src: url(./HankenGrotesk-Bold.ttf);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk-Medium';
    overflow: hidden;
    width:100%;
}
.pai{
    background-color: whitesmoke;
    height: 500px;
    width: 700px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 10px 12px rgba(20, 20, 20, 0.3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    display: flex;
    justify-content: space-between;

}
.filho1{
    height: 100%;
    width: 95%;
    color: aliceblue;
    background-image: linear-gradient(#0d0d6a, #5c1bb1);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
}
.neto{
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yourresult{
    height:80px;
}
#minititulo{
    font-size: 17px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#divcircle{
    height: 200px;
}
#circulo{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 2fr;
    background-image: linear-gradient(#0d0d6a, #4b0082);
}
#porcentagem{
    height: 75px;
    width: 75px;
    font-size:75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'HankenGrotesk-Bold'
}
#cem{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px
}
#great{
    height: 100px;
    font-size: 40px;
    font-family: 'HankenGrotesk-Bold';
}
#text.neto{
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#text{
    width: 100%;
    text-align:center;
    word-break: break-word;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.filho2{
    height:100%;
    width: 95%;
}
.divsumario{
    font-family: HankenGrotesk-Bold;
    height: 10%;
    color: rgb(20, 20, 20);
    width: 90%;
    font-size: 22px;
    padding-top: 28px;
}
.coluna{
    height: 64%;
    width: 90%;
    display: grid;
}
.colunadiv{
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    border-radius: 10px;
    font-family: 'HankenGrotesk-Bold';
}
#reaction{
    background-color: rgba(248, 103, 103, 0.1);
}
#memory{
    background-color: rgba(235, 193, 16, 0.1);
}
#verbal{
    background-color: rgba(99, 212, 164, 0.1);
}
#visual{
    background-color: rgba(0, 24, 128, 0.1);
}
.icone{
    height: 55px;
    width: 55px;
}
.numero{
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoria{
    display: flex;
    align-items: center;
}
#reactionT{
    color: #f86767;
}
#memoryT{
    color: #ebc110;
}
#verbalT{
    color: #63d4a4;
}
#visualT{
    color: #001880;
}
#bot達ocontinuar{
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: rgb(68, 59, 99);
    border-radius: 30px;
    transition: 0.35s;
}
#bot達ocontinuar:hover{
    height: 10%;
    width: 90%;
    transform: scale(1.03);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: rgba(68, 59, 99, 0.8);
    border-radius: 30px;
}
@media (max-width: 768px){
    .pai{
        width:600px;
        column-gap: 5%;
    }
    .filho1{
        width: 50%;
    }
    .filho2{
        width: 50%;
    }
    .coluna{
        width: 90%;
    }
    .colunadiv{
    height: 55px;
    width: 90%;
    }
}
@media (max-width: 480px){
    .pai{
        height: 700px;
        width: 95%;
        display:grid;
        grid-template-columns: 1fr  ;
    }
    .filho1{
        height: 300px;
        width: 100%;
    }
    #yourresult{
        height: 48px;
    }
    #minititulo{
        height: 48px;
    }
    #divcircle{
        height: 120px;
    }
    #circulo{
        height: 120px;
        width: 120px;
    }
    #porcentagem{
        display: flex;
        justify-content: center;
        font-size: 50px
    }
    #cem{
        font-size: x-small;
    }
    #great{
        height: 60px;
        font-size: 32px;
    }
    #text{
        height: 72px;
    }
    .filho2{
        height: 400px;
        width: 100%;
        padding-left: 10%;
    }
    .divsumario{
        width: 80%;
    }
    .coluna{
        width: 80%;
    }
    .colunadiv{
        width: 100%;
    }
    #bot達ocontinuar{
        width: 80%;
        height: 13%;
    }
    #bot達ocontinuar:hover{
        width: 80%;
        height: 13%;
    }
}